<h1>Welcome to the Most Awesome Forum &copy; </h1>

You have to be logged in to do anything around hurr! If you're curious about the code that powers that, check out the authorize! method in the ApplicationController and notice its use in every other controller.
